<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

  
</head>

<%- include(`./partials/nav.ejs`) %>

<body>

    <style>
        * {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("https://wallpapertag.com/wallpaper/full/b/b/d/435914-most-popular-plain-blue-background-wallpaper-1920x1200-image.jpg");
}


nav{
    width: 90%;
    margin: auto;
}



nav li{
    display: inline-block;
    width: 5.3em;
    padding-top: 10px;
}

nav a{
    color:whitesmoke;
}

nav {
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    cursor: default;
    height: 5.5em;
    line-height: 3.5em;
    padding-top: 0px;
}
nav div a img{
    height: 5.5em;
    
}
nav ol {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding-left: 0;
}

nav a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
}

    nav a:hover {
        color: #fff !important;
        background: #bb3838;
    }

    nav a.active {
        background: #484848;
    }

        nav a.active:before {
            display: block;
            position: absolute;
            bottom: -0.6em;
            left: 50%;
            margin-left: -0.75em;
            border-left: solid 0.75em transparent;
            border-right: solid 0.75em transparent;
            border-top: solid 0.6em #282828;
        }

        #abtText{
            color: whitesmoke;
            padding-left: 360px;
            padding-top: 100px;
        }

        #Fname{
            color: rgb(248, 114, 4);
            padding-left: 380px;
        }

        #P1{
            color: whitesmoke;
            padding-top: 5px;
            padding-left: 380px;
        }

        #ID{
            color: rgb(248, 114, 4);
            padding-left: 380px;
            padding-top: 30px;
        }

        #P2{
            color: whitesmoke;
            padding-top: 5px;
            padding-left: 380px;
        }

        #DOB{
            color: rgb(248, 114, 4);
            padding-left: 380px;
            padding-top: 30px;
        }

        #P3{
            color: whitesmoke;
            padding-top: 5px;
            padding-left: 380px;
        }

        #Nat{
            color: rgb(248, 114, 4);
            padding-left: 380px;
            padding-top: 30px;
        }

        #P4{
            color: whitesmoke;
            padding-top: 5px;
            padding-left: 380px;
        }

        #Lang{
            color: rgb(248, 114, 4);
            padding-left: 380px;
            padding-top: 30px;
        }

        #P5{
            color: whitesmoke;
            padding-top: 5px;
            padding-left: 380px;
        }

        #abt{
            color: chartreuse;
            padding-left: 240px;
        }

        #info{
            color: whitesmoke;
            padding-left: 500px;
            padding-top: 40px;
        }
        </style>

<header>  
 <nav>

    <div id="cvPic">          
         <a id="CV" href="#"><img src="images/OIP.jpeg" alt=""></a>                
    </div>

    <ol>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/about">About</a> </li>
        <li> <a href="/skills">Skills</a> </li>
        <li> <a href="/projects">Projects</a> </li>
        <li> <a href="/contact">Contact</a> </li>
    </ol> 
</nav> 
</header>
  
    <div id="abtText">
    <h2 id="Fname">Full Name:</h2>
        <p id="P1">Tiaan Van der Walt</p>
        <br>
     <h2 id="ID">Identity No:</h2> 
        <p id="P2">0108275103084</p>
        <br>
    <h2 id="DOB">Date of Birth:</h2> 
        <p id="P3">27/08/2001</p>
        <br>
    <h2 id="Nat">Nationality:</h2>
        <p id="P4">South African</p>
        <br>
    <h2 id="Lang">Language:</h2>
        <p id="P5">English / Afrikaans</p>
        <br>
    </div>

        <div id="info">
            <h1 id="abt">About me</h1>
        <p>I am a student at BelgiumCampusITversity studying IT.
            <br>
            I'm currently in my 2nd year of dipolma, and next year I would like to start with the Bachelors-Degree.
            <br>
           I enjoy working with computers and from a young age I have had alot of experience with technology.
           <br>
           I am an honest, hard working and determined person. I am always committed to a given deadline.
           <br>
           If I am given an opportunity, I will try to do my best with the task at hand.
        </p> 
    </div>

</body>
</html>