<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Website</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<%- include(`./partials/nav.ejs`) %>

<body>
    
    <style>
        * {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("https://wallpapertag.com/wallpaper/full/b/b/d/435914-most-popular-plain-blue-background-wallpaper-1920x1200-image.jpg");
}


nav{
    width: 90%;
    margin: auto;
}



nav li{
    display: inline-block;
    width: 5.3em;
}

nav a{
    color: whitesmoke;
}

#nav {
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    cursor: default;
    height: 5.5em;
    line-height: 3.5em;
}#nav div a img{
    height: 5.5em;
    
}
#nav ol {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

#nav li {
    display: inline-block;
    padding-left: 0;
}

#nav a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
}

    #nav a:hover {
        color: #fff !important;
        background: #bb3838;
    }

    #nav a.active {
        background: #484848;
    }

        #nav a.active:before {
            display: block;
            position: absolute;
            bottom: -0.6em;
            left: 50%;
            margin-left: -0.75em;
            border-left: solid 0.75em transparent;
            border-right: solid 0.75em transparent;
            border-top: solid 0.6em #282828;
}
 #introduction{
    padding: 10em 0 10em 0;
    text-align: left;
   
    background-image: url("https://wallpapertag.com/wallpaper/full/b/b/d/435914-most-popular-plain-blue-background-wallpaper-1920x1200-image.jpg");
    background-repeat: no-repeat;
    padding-top: 100px;
   
} 

#selfie{
height: 325px;
width: 325px;
}

 table{
    width: 100%;
    border-collapse:collapse;
} 

 td .image{

        border-radius: 100%;
        width: 20em;
        height: 20em;
        margin: 0;
} 
td .pic{
    margin-left: 100px;
}

td h5,h1,p{
color:azure;

}
h1{
    font-size: 72px;
   
}
h5{
    font-size: 40px;
}


#DownloadDiv{
    padding-left: 250px;
    padding-top: 100px;
}

#downloadbtn {
    display: block;
    width: 115px;
    height: 25px;
    background: #d6b212;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
  }      

  #myName{
    color: rgb(248, 114, 4);;
  }

   #Sum{
    color: chartreuse;
    padding-left: 270px;
    padding-top: 50px;
  }

  #goal{
    color: chartreuse;
    padding-left: 290px;
    padding-top: 50px;
  }



    </style>
    <header id="home">
       
        <!--The header must always display even when we go down the page-->
        <nav id="nav">
            
        <div>
                
                    <a id="CV" href="#"><img src="images/OIP.jpeg" alt=""></a>                    
        </div>
    
            <ol>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/about">About</a> </li>
                <li> <a href="/skills">Skills</a> </li>
                <li> <a href="/projects">Projects</a> </li>
                <li> <a href="/contact">Contact</a> </li>
            </ol> 
        </nav> 
    </header>

    <div id="introduction">
        <table>
            <tr>
                <td>
                    <div class="pic">
                        <img id="selfie" src="/images/Selfie.jpg" class="image" alt="a picture of the user">
                       
                    </div> 
                </td>
                <td>
                    <div class="infoma">
                        <h1 id="myName">Tiaan Van der Walt</h1>
                        <h2 id="Sum">Summary</h2>
                     <p>I was in an Accelarated Christian Education school called Boksburg Christian Academy.
                        <br> I started with GED in September 2018. I completed it in August 2019 and got my Matric.
                        <br>I then started studying IT at BelgiumCampusITversity in the year 2020. I first started with a certifacte due to my matric qualification.
                        <br>Now I'm currently completeing 2nd year dipolma in Software-Development. Next year I would like to start with my Bachelors-Degree.</p>
                    </div>

                    <div id="info2">
                        <h2 id="goal">Goals</h2>
                        <p>My goal is to get my Bachelors-Degree in IT and get a job in the Cape.
                        <br>I would like to work as a Software-Developer, Web-Developer or a Artificial Intelligence (AI) Engineer.
                           <br> I plan on working for a few years to gain experience in the IT business world.
                           <br>Eventually I would like to start my own IT company.
                        </p>

                    </div>
                        
                   <br>
                   <div id="DownloadDiv">
                    <a id="downloadbtn" class="fcc-btn" href="/documents/CV.pdf" download="CV">Download CV</a> 
                   </div>
                </td>
            </tr>
            
        </table>
        
   </div>

</body>
 
</html> 


